apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: pepm
spec:
  build:
  environments:
    - name: dev
      build:
        from: main
    - name: test
    - name: prod
  components:
    - name: web
      src: .
      publicPort: http
      ports:
        - name: http
          port: 3000
      variables:
        REACT_APP_AAD_TENANT_ID: ""
        REACT_APP_AAD_CLIENT_ID: ""
        REACT_APP_AAD_REDIRECT_URI: ""
        REACT_APP_BACKEND_URL: ""
        REACT_APP_BACKEND_API_SCOPE: ""
      environmentConfig:
        - environment: dev
        - environment: test
        - environment: prod
    - name: api
      image: ghcr.io/equinor/pepm-core-api/pepm-api:{imageTagName}
      publicPort: http
      ports:
        - name: http
          port: 5000
        - name: job-monitoring
          port: 5002
        - name: channest
          port: 5003
      environmentConfig:
        - environment: dev
          imageTagName: latest
          variables:
            ASPNETCORE_ENVIRONMENT: "Development"
          secretRefs:
            azureKeyVaults:
            - name: s542-dev-kv-00-eun-jk
              path: /mnt/dev
              items:
                - name: ApplicationInsights--ConnectionString
                  envVar: ApplicationInsights__ConnectionString
                - name: AzureAd--ClientId
                  envVar: AzureAd__ClientId
                - name: AzureAd--ClientSecret
                  envVar: AzureAd__ClientSecret
                - name: ConnectionStrings--AzureBlobStorage
                  envVar: ConnectionStrings__AzureBlobStorage
                - name: ConnectionStrings--PepmConnectionString
                  envVar: ConnectionStrings__PepmConnectionString
                - name: AzureAd--TenantId
                  envVar: AzureAd__TenantId

                - name: AzureAd--ClientId
                  envVar: AZURE_CLIENT_ID
                - name: AzureAd--ClientSecret
                  envVar: AZURE_CLIENT_SECRET
                - name: AzureAd--TenantId
                  envVar: AZURE_TENANT_ID
        - environment: test
          imageTagName: latest
          variables:
            ASPNETCORE_ENVIRONMENT: "Test"
          secretRefs:
            azureKeyVaults:
            - name: s542-test-kv-00-eun-6q
              path: /mnt/test
              items:
                - name: ApplicationInsights--ConnectionString
                  envVar: ApplicationInsights__ConnectionString
                - name: AzureAd--ClientId
                  envVar: AzureAd__ClientId
                - name: AzureAd--ClientSecret
                  envVar: AzureAd__ClientSecret
                - name: ConnectionStrings--AzureBlobStorage
                  envVar: ConnectionStrings__AzureBlobStorage
                - name: ConnectionStrings--PepmConnectionString
                  envVar: ConnectionStrings__PepmConnectionString
                - name: AzureAd--TenantId
                  envVar: AzureAd__TenantId

                - name: AzureAd--ClientId
                  envVar: AZURE_CLIENT_ID
                - name: AzureAd--ClientSecret
                  envVar: AZURE_CLIENT_SECRET
                - name: AzureAd--TenantId
                  envVar: AZURE_TENANT_ID
        - environment: prod
          imageTagName: latest
          variables:
            ASPNETCORE_ENVIRONMENT: "Production"
  jobs:
    - name: pepm-nrresqml
      image: ghcr.io/equinor/pepm-worker-api/pepm-nrresqml:latest
      schedulerPort: 8090
      resources:
        requests:
          memory: "2048Mi"
          cpu: "1000m"
        limits:
          memory: "4096Mi"
          cpu: "2000m"
      payload:
        path: /app/args
      variables:
        MODEL_FOLDER: "/mnt/azure-storage/models"
        WORKER_FOLDER: "/mnt/azure-storage/worker"
        ARGS_FOLDER: "/app/args"
      notifications:
        webhook: http://api:5002/api/webhooks/nrresqml/status
      environmentConfig:
        - environment: dev
          volumeMounts:
            - name: pepm-nrresqml-model-storage-dev
              path: /mnt/azure-storage/models
              blobfuse2:
                protocol: fuse2
                container: models
                uid: 1000
                accessMode: ReadWriteMany
                useAdls: true
                streaming:
                  enabled: false
            - name: pepm-nrresqml-worker-storage-dev
              path: /mnt/azure-storage/worker
              blobfuse2:
                protocol: fuse2
                container: nrresqml
                uid: 1000
                accessMode: ReadWriteMany
                useAdls: true
                streaming:
                  enabled: false
    - name: pepm-nrchannest
      image: ghcr.io/equinor/pepm-worker-api/pepm-nrchannest:latest
      schedulerPort: 8090
      backoffLimit: 1
      timeLimitSeconds: 43200
      resources:
        requests:
          memory: "4096Mi"
          cpu: "1000m"
        limits:
          memory: "8192Mi"
          cpu: "2000m"
      payload:
        path: /app/args
      variables:
        MODEL_FOLDER: "/mnt/azure-storage/models"
        WORKER_FOLDER: "/mnt/azure-storage/worker"
        ARGS_FOLDER: "/app/args"
      notifications:
        webhook: http://api:5003/api/webhooks/channest/status
      environmentConfig:
        - environment: dev
          volumeMounts:
            - name: pepm-nrchannest-model-storage-dev
              path: /mnt/azure-storage/models
              blobfuse2:
                protocol: fuse2
                container: models
                uid: 1000
                accessMode: ReadWriteMany
                useAdls: true
                streaming:
                  enabled: false

            - name: pepm-nrchannest-worker-storage-dev
              path: /mnt/azure-storage/worker
              blobfuse2:
                protocol: fuse2
                container: nrchannest
                uid: 1000
                accessMode: ReadWriteMany
                useAdls: true
                streaming:
                  enabled: false

    - name: pepm-nrvargrest
      image: ghcr.io/equinor/pepm-worker-api/pepm-nrvargrest:latest
      schedulerPort: 8090
      backoffLimit: 1
      timeLimitSeconds: 43200
      resources:
        requests:
          memory: "4096Mi"
          cpu: "1000m"
        limits:
          memory: "8192Mi"
          cpu: "2000m"
      payload:
        path: /app/args
      variables:
        MODEL_FOLDER: "/mnt/azure-storage/models"
        WORKER_FOLDER: "/mnt/azure-storage/worker"
        ARGS_FOLDER: "/app/args"
      environmentConfig:
        - environment: dev
          volumeMounts:
            - name: pepm-nrvargrest-model-storage-dev
              path: /mnt/azure-storage/models
              blobfuse2:
                protocol: fuse2
                container: models
                uid: 1000
                accessMode: ReadWriteMany
                useAdls: true
                streaming:
                  enabled: false

            - name: pepm-nrvargrest-worker-storage-dev
              path: /mnt/azure-storage/worker
              blobfuse2:
                protocol: fuse2
                container: nrvargrest
                uid: 1000
                accessMode: ReadWriteMany
                useAdls: true
                streaming:
                  enabled: false

  privateImageHubs:
    ghcr.io:
      username: hakoneriksson
      email: hake@equinor.com
