on: 
  pull_request:
    branches:
      main
    

jobs:
  publish-image:
    strategy:
      matrix:
        environment: [dev, test, production]

    uses: ./.github/workflows/publish.yaml
    with:
      ENVIRONMENT: ${{ matrix.environment }}
    
  