on:
    push:
      branches:
        - main
  
permissions:
  contents: write
  pull-requests: write

name: Release please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.PEPM_CI_APP_ID }}
          private-key: ${{ secrets.PEPM_CI_APP_SECRET }}

      - uses: googleapis/release-please-action@v4
        with:
          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `MY_RELEASE_PLEASE_TOKEN` (this secret name is not important).
          token: ${{ steps.generate-token.outputs.token }}
          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          release-type: node